<div class="parent-product">
  <a href="single_page.php?id={{id}}" class="product"><img class="img" src="{{src}}"></a>
  <div class="product-info special-color-p-product"><p>{{name}}</p><span>$ {{price}}.00</span></div>
<div class="parent-add-cart"><div class="active-link" data-id="{{id}}" data-name="{{name}}" data-price="{{price}}" data-srcmini="{{src_mini}}">
  <img src="img/cart-white.svg"><span>Add to Cart</span></div>
  <div class="flex-svg-item">
    <div class="active-link special-style">
    <img src="img/change.svg"></div>
  <div class="active-link special-style">
  <img src="img/Like.svg"></div></div></div></div>